body {
  font-family: 'Roboto', helvetica, sans-serif;
  line-height: 1.6;
  background-color: #fafafa;
  color: #222;
  margin: 0;
  padding: 0;
}

header,
main,
footer {
  max-width: 760px;
  margin: 0 auto;
  padding: 0 1rem;
}

.banner {
  background-color: #eee;
  padding: 1rem;
  text-align: center;
  font-weight: 700;
}

h1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 0.5rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

h2 {
  color: navy;
  text-align: left;
  grid-column: 1 / span 2;
}

article p {
  text-align: justify;
}

.callout {
  grid-column: 1 / span 2;
  color: #fff;
  background-color: #4a148c;
  padding: 1rem;
  border-radius: 8px;
}

.callout h3 {
  margin-top: 0;
}

footer {
  margin-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-size: smaller;
  text-align: left;
  padding: 0.5rem 0;
}