body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  max-width: 1500px;
  margin: 0 auto;
}

.hero {
  width: 100%;
  display: block;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}