@media screen and (min-width: 600px) {

    header {
        padding: 0 1rem;
    }

    #menu {
        display: none;
    }

    nav {
        display: flex; 
        flex-direction: row;
        position: static;
        width: auto;
        box-shadow: none;
        background-color: transparent;
    }

    nav a {
        border-bottom: none;
        margin-left: 1.5rem;
        padding: 1rem 0.5rem;
    }

    main {
        max-width: 1000px;
    }
    
    .album-grid {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 2rem;
    }
}